.red {
    color: red;
}

.green {
    color:#00933C;
}
.purple {
    color:#B933AD;
}
.blue {
    color:#0039A6;
}
.orange {
    color:#FF6319;
}
.prettygreen {
    color:#6CBE45;
}
.brown {
    color:#996633;
}
.aesthetic_yellow {
    color:#FCCC0A;
}
.my_soul {
    color:#808183;
}










/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}